/* Estilos gerais */
body {
    margin: 0%;
    width: 100%;
}

/* Container para os produtos */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Estilização do cartão de produto */
.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
    margin: 20px;
}

.product-card:hover {
    transform: scale(1.05);
}

/* Estilização da imagem do produto */
.product-info img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Estilização do título do produto */
.product-info h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Estilização da descrição do produto */
.product-info p {
    padding: 0 10px;
    font-size: 20px;
    font-style: bold;
    color: #0a0a0a;
}

/* Estilização do botão de detalhes */
.product-info button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(212, 124, 41);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-info button:hover {
    background-color: rgb(180, 90, 20);
}


/* Ajustes para tela grande */
@media (min-width: 1110px) and (max-width: 1920px) {
    .logo img {
        border-radius: 10px; 
        margin-left: 5px; 
        margin-top: 5px; 
        margin-bottom: 2px;
        height: 170px;
        width: 170px;
    }

    .agro, .shop {
        font-size: 55px;
        font-family: 'Times New Roman', Times, serif;
        color: #f2f2f2;
        position: absolute;
        margin-left: 10px;
    }

    .agro {
        left: 15.2%;
        bottom: 84%;
    }

    .shop {
        left: 17.4%;
        bottom: 76%;
    }

    .folha_img{
        position: absolute;
        left: 300px;
        bottom: 760px;
    }

    .search_bar {
        position: absolute;
        left: 30%;
        top: 12%;
    }

    .input {
        padding: 15px;
        border: none;
        border-radius: 50px;
        width: 115%;
        height: 15px;
        background-color: #f2f2f2;
        font-size: 18px;
        font-family: Arial, sans-serif;
        box-shadow: 0 0 10% rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        margin-left: 40px;
        position: relative;
        bottom: 30px;
    }

    .botao {
        height: 100px;
        border: none;
        border-radius: 80px;
        width: 100px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
        position: relative;
        left: 140%;
        bottom: 95px;
    }

    .button_img {
        height: 100px;
        width: 100px;
        position: absolute;
        right: 25px;
        bottom: 7px;
    }

    .conta {
        height: 90px;
        width: 90px;
        position: absolute;
        left: 92%;
        bottom: 89%;
        border: none;
        border-radius: 50px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
    }

    .img_conta {
        height: 75px;
        width: 75px;
        position: absolute;
        bottom: 22%;
        left: 20%;
        cursor: pointer;
    }

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }
    
    .product-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 300px;
        text-align: center;
        transition: transform 0.2s;
        margin: 20px;
    }
    
    .product-card:hover {
        transform: scale(1.05);
    }
    
    .product-info img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    .product-info h3 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    
    .product-info p {
        padding: 0 10px;
        font-size: 20px;
        font-style: bold;
        color: #0a0a0a;
    }
    
    .product-info button {
        margin: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: rgb(212, 124, 41);
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .product-info button:hover {
        background-color: rgb(180, 90, 20);
    }

    .footer{
        color: #f2f2f2;
    }

    .informacoes{
        margin-left: 10px;
        position: relative;
        top: 10px;
    }

    .foot, .foot2{
        margin-left: 10px;
        margin-top: 15px;
    }

    .foot2{
        color: aliceblue;
    }

    .suporte{
        position: relative;
        left: 30%;
        bottom: 175px;
    }

    .atendimento{
        position: relative;
        left: 58%;
        bottom: 215px;
    }

    .copy{
        margin-left: 820px;
    }

}

@media (max-width: 1109px) {

    header{
        max-width: 1109;
        width: 100%;
    }

    .logo img {
        border-radius: 10px; 
        margin-left: 5px; 
        margin-top: 5px; 
        margin-bottom: 2px;
        height: 120px;
        width: 120px;
    }

    .search_bar {
        position: absolute;
        left: 30%;
        top: 12%;
    }

    .input {
        padding: 8px;
        border: none;
        border-radius: 50px;
        width: 170%;
        height: 8px;
        background-color: #f2f2f2;
        font-size: 10px;
        font-family: Arial, sans-serif;
        box-shadow: 0 0 10% rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        position: relative;
        bottom: 50px;
        right: 150px;
    }

    .botao {
        height: 50pxpx;
        border: none;
        border-radius: 80px;
        width: 50px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
        position: relative;
        left: 110%;
        bottom: 40px;
    }

    .button_img {
        height: 50px;
        width: 50px;
        position: absolute;
        right: 25px;
        bottom: 12px;
    }

    .conta {
        height: 40px;
        width: 40px;
        position: absolute;
        left:62%;
        bottom: 95%;
        border: none;
        border-radius: 50px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
    }

    .img_conta {
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 5%;
        left: 5%;
        cursor: pointer;
    }

    .product-card {
        width: 300px;
        margin: 20px;
    }

    .product-info img {
        height: 150px; 
    }

    .product-info h3 {
        font-size: 1.5em; 
    }

    .product-info p {
        font-size: 20px; 
    }

    .product-info button {
        padding: 10px 20px; 
    }

    .footer{
        color: #f2f2f2;
    }

    .informacoes{
        margin-left: 10px;
        position: relative;
        top: 10px;
    }

    .foot, .foot2{
        margin-left: 10px;
        margin-top: 15px;
    }

    .foot2{
        color: aliceblue;
    }

    .suporte{
        position: relative;
        left: 30%;
        bottom: 175px;
    }

    .atendimento{
        position: relative;
        left: 58%;
        bottom: 215px;
    }

    .copy{
        margin-left: 820px;
    }

    
body {
    margin: 0%;
    width: 100%;
}

@media screen and (max-width: 1108px) {

    header{
        max-width: 1108px;
        width: 100%;
    }

    .logo img {
        width: 150px;
        height: 150px;
        margin-top: 5px;
        margin-left: 5px;
        border-radius: 10px;
    }

    .search_bar{
        display: block;
        position: absolute;
        left: 36%;
        bottom: 72%;
    }

    .input{
        padding: 8px;
        border: none;
        border-radius: 50px;
        width: 100%;
        height: 8px;
        background-color: #f2f2f2;
        font-size: 10px;
        font-family: Arial, sans-serif;
        box-shadow: 0 0 10% rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        position: relative;
        bottom: 50px;
        right: 150px;
    }

    .botao {
        height: 80px;
        border: none;
        border-radius: 80px;
        width: 80px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
        position: relative;
        left: 40%;
        bottom: 100px;
    }

    .conta {
        height: 70px;
        width: 70px;
        position: absolute;
        left: 60%;
        bottom: 93%;
        border: none;
        border-radius: 50px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
    }
    
    .img_conta {
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 22%;
        left: 20%;
        cursor: pointer;
    }

    .product-grid {
        max-width: 700px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 10px;
    }

    .product-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 200px;
        height: 200px;
        text-align: center;
        transition: transform 0.2s;
        margin: 10px;
    }

    .product-info img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .product-info h3 {
        font-size: 19px;
        margin: 10px 0;
    }

    .product-info p {
        padding: 0 10px;
        font-size: 20px;
        font-style: bold;
        color: #0a0a0a;
    }

    .footer{
        color: #f2f2f2;
    }

    .informacoes{
        margin-left: 10px;
        position: relative;
        top: 45px;
    }

    .foot, .foot2{
        position: relative;
        top: 40px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .foot2{
        color: aliceblue;
    }

    .suporte{
        position: relative;
        left: 27%;
        bottom: 175px;
    }

    .atendimento{
        position: relative;
        left: 48%;
        bottom: 215px;
    }

    .copy{
        margin-left: 400px;
    }

}

    
@media screen and (max-width: 768px) {

    header{
        max-width: 768px;
        width: 100%;
    }

    .logo img {
        width: 140px;
        height: 140px;
        margin-top: 5px;
        margin-left: 5px;
        border-radius: 10px;
    }

    .search_bar{
        display: block;
        position: absolute;
        left: 43%;
        bottom: 76%;
    }

    .input{
        padding: 8px;
        border: none;
        border-radius: 50px;
        width: 100%;
        height: 8px;
        background-color: #f2f2f2;
        font-size: 10px;
        font-family: Arial, sans-serif;
        box-shadow: 0 0 10% rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        position: relative;
        bottom: 50px;
        right: 150px;
    }

    .botao {
        height: 80px;
        border: none;
        border-radius: 80px;
        width: 80px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
        position: relative;
        left: 40%;
        bottom: 100px;
    }

    .conta {
        height: 70px;
        width: 70px;
        position: absolute;
        left: 57%;
        bottom: 93%;
        border: none;
        border-radius: 50px;
        background-color: rgb(212, 124, 41);
        cursor: pointer;
    }
    
    .img_conta {
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 22%;
        left: 20%;
        cursor: pointer;
    }

    .product-grid {
        max-width: 550px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 10px;
    }

    .product-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 250px;
        height: 300px;
        text-align: center;
        transition: transform 0.2s;
        margin: 10px;
    }

    .product-info img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .product-info h3 {
        font-size: 19px;
        margin: 10px 0;
    }

    .product-info p {
        padding: 0 10px;
        font-size: 25px;
        font-style: bold;
        color: #0a0a0a;
    }

    .footer{
        color: #f2f2f2;
    }

    .informacoes{
        margin-left: 10px;
        position: relative;
        top: 45px;
    }

    .foot, .foot2{
        position: relative;
        top: 40px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .foot2{
        color: aliceblue;
    }

    .suporte{
        position: relative;
        left: 30%;
        bottom: 175px;
    }

    .atendimento{
        position: relative;
        left: 58%;
        bottom: 215px;
    }

    .copy{
        margin-left: 189px;
    }

}

}




